/* styles.css */

.api-params table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  position: relative;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
}

.param-name {
  font-weight: bold;
}

.param-type {
  color: grey;
}

.required {
  color: red;
}

.input-box {
  min-width: 200px;
}

.input-error {
  color: red;
}

button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 12px 0 0;
}

.response {
  border: 1px solid grey;
  padding: 5px;
}

.response pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  line-height: 1.25rem;
}

.api-params .response {
  margin: 20px 0 0 0;
}

.stale {
  position: relative; /* Make the element's position relative */
}

.stale::before {
  content: ""; /* Add content to the pseudo-element */
  position: absolute; /* Make the pseudo-element's position absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the background color with transparency */
  z-index: 1; /* Set the pseudo-element's z-index lower than the element */
}

.examples-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

.examples-box h4 {
  font-weight: bold;
  display: inline;
  padding: 10px 10px 10px 0px;
  margin-top: 8px;
}

.button {
  padding: 4px 8px 4px 8px;
  margin-right: 3px;
  border-radius: 0;
}

:is(table[class~="nx-block"]) {
  table-layout: auto;
  display: table;
  width: 100%;
}

.network-selector {
  padding: 4px 8px 4px 8px;
}
