@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkBlue font-body text-light !important;
  }
}

@layer components {
  h1 {
    @apply text-5xl tracking-[0.01em] font-header font-light leading-[52px] text-light !important;
  }

  p {
    @apply text-base16 tracking-[0.06em] text-light;
  }

  button {
    @apply relative inline-block rounded-lg py-1 px-2 text-sm transition-all bg-[#282639]  ;
  }
}

.nx-bg-neutral-800 {
  @apply bg-darkBlue;
}

.nx-text-primary-600 {
  @apply text-light font-semibold;
}

html[class~="dark"] .nextra-nav-container-blur {
  @apply bg-dark text-light !important;
}

html[class~="dark"] .dark\:nx-bg-dark {
  @apply bg-darkBlue text-light;
}

html[class~="dark"] .dark\:nx-shadow-\[0_-12px_16px_\#111\] {
  @apply shadow-none;
}

html[class~="dark"] .dark\:nx-border-neutral-800 {
  @apply border-light;
}

html[class~="dark"] .dark\:nx-text-gray-400 {
  @apply text-light;
}

/* Header menu */
html[class~="dark"] .dark\:nx-bg-neutral-800 {
  @apply bg-dark;
}

html[class~="dark"] .dark\:nx-ring-white\/20 {
  @apply ring-light;
}

/* Footer */
html[class~="dark"] .dark\:nx-bg-neutral-900 {
  @apply bg-dark;
}

html[class~="dark"] .dark\:nx-border-neutral-800 {
  @apply border-[#292739];
}

/* Sidebar */
html[class~="dark"] .dark\:nx-text-primary-600 {
  @apply text-light font-header font-semibold;
}

html[class~="dark"] .dark\:nx-text-neutral-500 {
  @apply text-light font-header font-light;
}

html[class~="dark"] .dark\:hover\:nx-text-gray-50:hover {
  @apply text-light;
}

input {
  @apply bg-[#282639];
}

select {
  @apply bg-[#282639];
}

.api-params table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  position: relative;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
}

.param-name {
  font-weight: bold;
}

.param-type {
  color: grey;
}

.required {
  color: red;
}

.input-box {
  min-width: 200px;
}

.input-error {
  color: red;
}

.response {
  border: 1px solid grey;
  padding: 5px;
}

.response pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  line-height: 1.25rem;
}

.api-params .response {
  margin: 20px 0 0 0;
}

.stale {
  position: relative; /* Make the element's position relative */
}

.stale::before {
  content: ""; /* Add content to the pseudo-element */
  position: absolute; /* Make the pseudo-element's position absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the background color with transparency */
  z-index: 1; /* Set the pseudo-element's z-index lower than the element */
}

.examples {
  margin-top: 8px;
  margin-bottom: 8px;
}


