@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkBlue font-body text-light !important;
  }
}

@layer components {
  h2 {
    @apply text-light !important;
  }

  p {
    @apply text-base16 tracking-[0.06em] text-light;
  }

  button {
    @apply relative inline-block py-2 px-4 text-sm transition-all bg-[#282639] hover:bg-[#44415E];
  }

  ul {
    @apply text-base16 tracking-[0.06em] text-light;
  }

  ol {
    @apply text-base16 tracking-[0.06em] text-light;
  }

  table {
    @apply text-base16 tracking-[0.06em] text-light;
  }

  tr {
    @apply border-b border-light bg-[#44415E];
  }

  th {
    @apply bg-darkGray2 text-left py-2 px-4 !important;
  }

  td {
    @apply py-2 px-4 !important;
  }

  input {
    @apply bg-[#282639] p-2 font-semibold;
  }

  select {
    @apply bg-[#282639];
  }

  table {
    @apply w-full table !important;
  }
}

.nx-bg-neutral-800 {
  @apply bg-darkBlue;
}

.nx-text-primary-600 {
  @apply text-light font-semibold;
}

html[class~="dark"] .nextra-nav-container-blur {
  @apply bg-dark text-light !important;
}

html[class~="dark"] .dark\:nx-bg-dark {
  @apply bg-darkBlue text-light;
}

html[class~="dark"] .dark\:nx-shadow-\[0_-12px_16px_\#111\] {
  @apply shadow-none;
}

html[class~="dark"] .dark\:nx-border-neutral-800 {
  @apply border-light;
}

html[class~="dark"] .dark\:nx-text-gray-400 {
  @apply text-light;
}

/* Header menu */
html[class~="dark"] .dark\:nx-bg-neutral-800 {
  @apply bg-dark;
}

html[class~="dark"] .dark\:nx-ring-white\/20 {
  @apply ring-light;
}

/* Footer */
html[class~="dark"] .dark\:nx-bg-neutral-900 {
  @apply bg-dark;
}

html[class~="dark"] .dark\:nx-border-neutral-800 {
  @apply border-[#292739];
}

/* Sidebar */
html[class~="dark"] .dark\:nx-text-primary-600 {
  @apply text-light font-header font-semibold;
}

html[class~="dark"] .dark\:nx-text-neutral-500 {
  @apply text-light font-header font-light;
}

html[class~="dark"] .dark\:hover\:nx-text-gray-50:hover {
  @apply text-light;
}

html[class~="dark"] .subheading-anchor:after {
  @apply text-light;
}

html[class~="dark"] .even\:dark\:nx-bg-gray-600\/20:nth-child(even) {
  @apply bg-[#44415E];
}

/* Sidebar Subheader */
html[class~="dark"] .dark\:nx-text-gray-100 {
  @apply text-light text-base16;
}

html[class~="dark"] .dark\:nx-text-gray-200 {
  @apply text-light;
}

html[class~="dark"] .dark\:nx-text-slate-100 {
  @apply text-light;
}

html[class~="dark"] .dark\:nx-text-gray-300 {
  @apply text-light;
}

.nx-text-gray-500 {
  @apply text-light;
}

.api-params table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  position: relative;
}

.required {
  color: red;
}

.input-error {
  color: red;
}

.response {
  @apply py-4 text-light bg-darkGray rounded-xl;
}

.stale {
  position: relative; /* Make the element's position relative */
}

.stale::before {
  content: ""; /* Add content to the pseudo-element */
  position: absolute; /* Make the pseudo-element's position absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the background color with transparency */
  z-index: 1; /* Set the pseudo-element's z-index lower than the element */
}

.dark {
  --shiki-color-text: #e6dafe;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;
}

pre {
  overflow: auto;
  padding: 0px;
}
